<html>
  <head>
    <meta charset="utf-8">
    <title>Custom templates</title>
    <script>
      (function customTemplate() {
        'use strict';

        function naive(name, age) {
          return `Hello, my name is ${name} and I'm ${age} years old`;
        }

        const TEMPLATE = `Hello, my name is [name] and I'm [age] years old`;

        function replace(name, age) {
          let firstReplacement = TEMPLATE.replace(/\[name\]/, name);
          let secondReplacement = firstReplacement.replace(/\[age\]/, age);

          return secondReplacement;
        }

        const templ = replace('tom', 31);
        console.log(templ);
      })();
    </script>
  </head>
</html>
