<html>
  <head>
    <meta charset="utf-8">
    <title>Template tag</title>
  </head>
  <body>
    <template id="template">
      <h1>Don Gato</h1>
      <img src="http://vignette2.wikia.nocookie.net/doblaje/images/a/a3/308360-topcat_large.png/revision/latest?cb=20130716205723&path-prefix=es">
    </template>

    <script>
      (function templateTag() {
        'use script';

        const templ = document.querySelector('#template');
        document.body.appendChild(document.importNode(templ.content, /* deepCopy */ true));
      })();
    </script>
  </body>
</html>
